body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,table,tr,td,th{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	border:none;
}
a{
	color:#000;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h5,b,strong{
	font-weight: normal;
}
i,em,var{
	font-style: normal;
}