<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="__ROOT__/public/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/public/css/common.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	.table{
		width: 100%;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}
	.table td,.table th{
		padding: 10px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.table th{
		font-weight: normal;
		width: 100px;
		text-align: left;
	}
</style>
<script src="__ROOT__/library/kindeditor/kindeditor.js"></script>
<script >
	var editor;
	KindEditor.ready(function(e){
		editor=e.create("[name=content]",{
			width:"900px",
			height:"350px"
		})
	})
	function checkNews(){
		if(dasda){
			
		}
	}
</script>
</head>
<body>
<div class="wrap">
	<h1 id="subject">发布新闻</h1>	
	<form action="__APP__/Addnews/add" method="post" enctype="multipart/form-data">
		<table class="table">
			<tr>
				<td>新闻标题</td>
				<td><input type="text" name="title"/></td>
			</tr>
			<tr>
				<td>新闻分类</td>
				<td>
					<select name="typeId">
						<foreach name="fetchall" item="v">
							<if condition="$v.level eq 1">
								<option value="{$v.typeId}">{$v.typeName}</option>
								<foreach name="fetchall" item="vv">
									<eq name="vv.pid" value="$v.typeId">
										<option value="{$vv.typeId}">&nbsp;&nbsp;{$vv.typeName}</option>
									</eq>
								</foreach>
							</if>
						</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<td>新闻图片:</td>
				<td><input type="file" name="image"/></td>
			</tr>
			<tr>
				<td>新闻正文</td>
				<td><textarea name="content"></textarea></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="确认发布"  onsubmit="checkNews()"/>
				<input type="reset" value="内容重置" /></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>
